.spa-about {
    background: #1b1b1b;
}

.spa-services {
    text-align: center;
    background: #222;
}

.spas {
    position: relative;
    margin: 40px 0;
    overflow: hidden;
    cursor: pointer;
}

.spas:hover img {
    transform: scale(1.09, 1.09);
    filter: brightness(70%);
    transition: all 1s ease;
}

.ohrs-section {
    position: relative;
}

.ohrs-text {
    top: 50%;
    right: 100px;
    background: #1b1b1b;
    position: absolute;
    width: 50%;
    padding: 4%;
    transform: translate(0, -50%);
}

.ohrs {
    background: #1b1b1b;
}

.ohrs-text h3,
.ohrs-text h3 a {
    font-size: 24px;
    color: #aa8453;
    margin-bottom: 0px;
}

.ohrs-text h4 {
    font-size: 35px;
    color: #fff;
    margin-bottom: 5px;
}

.ohrs-text i {
    font-size: 22px;
}

@media screen and (max-width:991px) {
    .ohrs-text {
        right: -15px;
        width: 57%;
    }

    .ohrs-text h4 {
        font-size: 25px;
    }

    .ohrs-text h3 {
        font-size: 15px;
    }

    .ohrs-text p {
        font-size: 13px;
        margin-bottom: 2px;
    }
}

@media screen and (max-width:768px) {

    .ohrs-text {
        position: relative;
        width: 100%;
        top: 0;
        right: 0;
        transform: none;
    }
}