.rev {
    margin-top: 35px;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 7px 3px #e3e3e3;
}

.rev:nth-child(2) {
    margin-top: 20px;
}

.rev-data img {
    height: 45px;
    width: 45px;
    border-radius: 5px;
}

.rev-data {
    display: flex;
}

.rev-name {
    margin-top: 13px;
    margin-left: 15px;
}

.rev-text p {
    color: #1b1b1b;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.rev-name h6 {
    color: #1b1b1b;
}