.rev {
    margin-top: 35px;
    background: #1b1b1b;
    padding: 20px;
    border-radius: 15px;
}

.rev-data img {
    height: 45px;
    width: 45px;
    border-radius: 5px;
}

.rev-data {
    display: flex;
}

.rev-name {
    margin-top: 13px;
    margin-left: 15px;
}

.rev-text p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}