.header {
    display: flex;
    margin-left: 20px;
    justify-content: center;
}

.header-wrapper label {
    display: inline-block;
    color: #aa8453;
    margin-right: 20px;
    font-size: 25px;
}

.header-inner {
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
}

.sticky-header {
    z-index: 20;
    background: #fff !important;
    position: fixed;
    animation: moveDown 0.5s ease-in-out;
}

.half-width {
    width: calc(100vw - 300px);
}

.width {
    width: 100%;
}

.header-wrapper label span:hover {
    cursor: pointer;
}

.header-title {
    margin-top: 11px;
}

.header-title h4 {
    font-size: 20px;
    color: #aa8453;
    margin-bottom: 0;
    text-transform: uppercase;
}

.pdata {
    margin-right: 15px;
    display: flex;
    float: right;
    align-items: baseline;
}

.user-icon {
    height: 40px;
    width: 40px;
    margin-left: 20px;
}



@media only screen and (max-width: 500px) {

    .header,
    .header-wrapper {
        align-items: center;
    }

    .header-title h1 {
        font-size: 1.2em;
    }

    .userName {
        display: none;
    }

    .header-wrapper label {
        margin-right: 10px;
    }
}