.user-panl {
    padding: 5% 30px 20px 30px;
}

.booking-table table tr td,
.booking-table table thead tr th {
    background: #1b1b1b;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-bg-type: #1b1b1b;
}

td,th {
    font-size: 15px;
    width: auto;
    white-space: nowrap;
}

.cnt-booking {
    padding: 0 20px;
    background: #aa8453;
    border: none;
    outline: none;
    height: 49px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    transition: 0.5s;
    display: block;
}

.cnt-book {
    justify-content: end;
    display: flex;
    margin-top: 50px;
}

.booking-table h2 {
    color: #aa8453;
}