.admin-dashboard {
    padding: 5% 30px 20px 30px;
}

.dashboard-card {
    box-shadow: rgba(17, 17, 26, 1) 2px 0px 16px;
    border: 1px solid #aa8453;
    background: #1b1b1b;
    padding: 13px;
    border-radius: 5px;
    display: flex;
}

.dashboard-card:hover {
    cursor: pointer;
    margin-top: -10px;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.dashboard-card i {
    color: #aa8453;
    display: flex;
    background: #222;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}

.card-info h6 {
    margin: 0 0 10px 0;
    line-height: 1.5;
}

.dashboard-cal-card .card-title {
    margin: 20px 0;
    border-bottom: 1px dashed #fff;
    padding-bottom: 10px;
}

.card-info {
    margin-left: 15px;
    font-weight: 600;
    color: #fff;
    font-size: 25px;
}

.up-events {
    border-bottom: 1px dashed #fff;
}

.up-bookings {
    margin: 20px 0;
}

.up-events h6,
.up-bookings h6 {
    padding-top: 10px;
}

.dashboard-cal,
.avlbl-card-outer {
    margin-top: 55px;
}

.react-calendar__tile {
    padding: 20px !important;
    color: #aaa !important;
    font-size: 16px !important;
}

.react-calendar__month-view__weekdays__weekday {
    border-bottom: 1px solid #aaa !important;
}

.react-calendar__navigation button {
    color: #aaa !important;
}

.highlight {
    background: #aa8453 !important;
    color: #fff !important;
    border: 1px solid #fff !important;
}


.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus,
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background: #aa8453 !important;
    color: #fff !important;
}

.react-calendar__tile--now {
    color: #fff !important;
    background: #aa8453 !important;
}

.react-calendar {
    box-shadow: rgba(17, 17, 26, 1) 2px 0px 16px !important;
    border-radius: 10px !important;
    width: 100% !important;
    background: #1b1b1b !important;
    color: #fff !important;
}

.msg-click {
    font-size: 14px;
    text-transform: uppercase;
    color: #aa8453;
}

.dashboard-cal-card {
    width: 100%;
    margin-top: 44px;
}

.dashboard-cal-card .card {
    height: 383px !important;
    overflow: hidden;
    overflow-y: scroll;
}

.admin-report {
    box-shadow: rgba(17, 17, 26, 1) 2px 0px 16px;
    background: #1b1b1b;
    border-radius: 10px;
    margin-top: 60px;
}

.apexcharts-gridline {
    stroke: rgb(55, 61, 63) !important;
}

#SvgjsG1219 text,
#SvgjsG1195 text,
.apexcharts-legend-text {
    fill: rgb(255, 255, 255) !important;
    color: #fff !important;
}

.avlbl-card {
    margin-top: 35px;
}

.avlbl-card {
    background: #1b1b1b;
    padding: 20px;
    border-radius: 10px;
}

.avlbl-card-text {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.progress-bar {
    background-color: #aa8453 !important;
}

.progress {
    --bs-progress-border-radius: 100px !important;
}

.rev {
    margin-top: 50px;
    background: #1b1b1b;
    padding: 20px;
    border-radius: 15px;
}

.rev-data img {
    height: 45px;
    width: 45px;
    border-radius: 5px;
}

.rev-data {
    display: flex;
}

.rev-name {
    margin-top: 13px;
    margin-left: 15px;
}

.cal-label {
    margin: 10px 0;
    display: flex;
    color: #fff;
    font-size: 15px;
}

.label-cal {
    display: flex;
    align-items: center;
}

.label-cal span {
    margin: 0 15px;
    display: flex;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #aa8453;
}

@media only screen and (max-width: 991px) {
    .dashboard-card {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .dashboard-cal-card {
        margin-top: 15px;
    }
}