.card {
    --bs-card-border-color: #1b1b1b !important;
    --bs-card-border-radius: 15px !important;
    background: #1b1b1b;
    color: #fff;
}

.dashboard-event-body,
.dashboard-booking-body {
    margin-top: 10%;
}

.dashboard-event-btn {
    float: right;
    color: #aa845a;
}

.card-body {
    padding: 25px;
}

.dashboard-event-body .card-title {
    margin-bottom: 15px;
}

.dashboard-event-body h2,
.dashboard-booking-body h2 {
    color: #aa8453;
}