.card {
    --bs-card-border-color: #1b1b1b !important;
    --bs-card-border-radius: 15px !important;
    background: #1b1b1b;
    color: #fff;
    margin-right: 20px;
    margin-bottom: 20px;
}

.dashboard-event-body,
.dashboard-booking-body {
    padding: 4% 30px 5px 30px;
}

.dashboard-booking-body h4,
.dashboard-event-body h4{
    font-size: 20px;
    text-transform: uppercase;
}

.dashboard-event-btn {
    float: right;
    color: #aa845a;
}

.card-body {
    padding: 25px;
}

.dashboard-event-body .card-title {
    margin-bottom: 15px;
}

.dashboard-event-body h2,
.dashboard-booking-body h2 {
    color: #aa8453;
}