#menu-toggle:checked~.sidebar {
    left: -300px;
}

#menu-toggle:checked~.main-content {
    margin-left: 0;
    width: 100vw;
}

.main-content {
    min-height: 100vh;
    background: #222;
    margin-left: 300px;
    width: calc(100vw - 300px);
    padding: 20px 30px;
    transition: margin-left 300ms;
}

.soverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 1224px) {
    #menu-toggle:checked~.sidebar {
        left: 0 !important;
    }

    #menu-toggle:checked~.soverlay {
        display: block;
        text-align: right;
    }

    .main-content {
        width: 100vw;
        margin-left: 0;
    }
}