.Current-booking-body {
    padding: 20px 30px;
}

.Current-booking-top {
    display: flex;
    justify-content: space-between;
}

.selection select,
.search select,
.select-input-search select {
    cursor: pointer;
    background: #fff;
    color: #1b1b1b;
    padding: 10px 20px;
    border: transparent;
    border-right: 16px solid transparent;
    box-shadow: 0px 0px 7px 3px #e3e3e3;
}

.selection div,
.search-group div {
    font-size: 15px;
    color: #fff;
}

.selection {
    margin-bottom: 15px;
}

.select-input-search input {
    box-shadow: 0px 0px 7px 3px #e3e3e3;
    color: #1b1b1b;
    padding: 10px 20px;
    border: none;
}

.select-input-search .react-datepicker__input-container .react-datepicker__calendar-icon {
    right: 10px;
    top: 5px;
}

.search-group {
    color: #fff;
}

.search {
    margin-right: 20px;
}

.table-dark {
    --bs-table-border-color: #aa8453;
}