.Current-booking-body {
    padding: 20px 30px;
}

.Current-booking-top {
    display: flex;
    justify-content: space-between;
}

.selection select,
.search select,
.select-input-search select {
    cursor: pointer;
    background: #1b1b1b;
    color: #fff;
    padding: 10px 20px;
    border: transparent;
    border-right: 16px solid transparent;
}

.selection div,
.search-group div {
    font-size: 15px;
    color: #fff;
    font-family: 'Gilda Display', serif;
}

.selection {
    margin-bottom: 15px;
}

.select-input-search input {
    background: #1b1b1b;
    color: #fff;
    padding: 10px 20px;
    border: none;
}

.select-input-search .react-datepicker__input-container .react-datepicker__calendar-icon {
    right: 10px;
    top: 5px;
}

.search-group {
    font-family: 'Gilda Display', serif;
    color: #fff;
}

.search {
    margin-right: 20px;
}