@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0;
  list-style: none;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  font-family: "poppins";
}

::selection {
  color: white;
  background: #aa8453;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #aa8453;
}