.faq {
    background-image: url('../../Images/cbanner.jpg');
}

.rc-accordion-toggle {
    display: flex;
    padding: 20px 40px;
    align-items: flex-start;
    cursor: pointer;
    justify-content: space-between;
    background-color: #222;
    transition: 0.3s;
}

.rc-accordion-toggle.active .rc-accordion-icon {
    transform: rotate(180deg);
    color: #fff;
}

.rc-accordion-card {
    border-radius: 5px;
    margin-bottom: 15px;
    overflow: hidden;
}

.rc-accordion-card:last-child {
    margin-bottom: 0;
}

.rc-accordion-title {
    font-weight: 500;
    font-size: 20px;
    position: relative;
    margin-bottom: 0;
    color: white;
    transition: 0.3s;
}

.rc-accordion-toggle.active .rc-accordion-title,
.rc-accordion-toggle.active .rc-accordion-icon {
    color: #aa8453;
}

.rc-accordion-icon {
    position: relative;
    top: 2px;
    color: white;
    transition: 0.35s;
    font-size: 15px;
}

.rc-accordion-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0 40px 20px;
    background: #222;
}

.rc-accordion-body p {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
}

.rc-collapse {
    position: relative;
    /* height: 0; */
    overflow: hidden;
    transition: height 0.35s ease;
}

.rc-collapse.show {
    height: auto;
}

@media screen and (max-width: 991px) {
    .bg-fixed {
        background-attachment: scroll !important;
    }
}

@media screen and (max-width: 767px) {
    .banner-header .cap {
        text-align: center;
    }

    .banner-header h1 {
        font-size: 45px;
    }
}