.dashboard-card {
    border: 1px solid #aa8453;
    background: #aa8453;
    padding: 13px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0px 0px 7px 3px #e3e3e3;
}

.dashboard-card:hover {
    cursor: pointer;
    margin-top: -10px;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.dashboard-card i {
    color: #aa8453;
    display: flex;
    background: #fff;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}

.card-info h6 {
    color: #fff;
    margin:10px 0;
    line-height: 1.5;
    font-size: 14px;
}

.card-info {
    margin-left: 15px;
    font-weight: 600;
    color: #fff;
    font-size: 25px;
}